* {
    margin: 0px;
    padding: 0px;

}

.whatsapp {
    position: fixed;
    animation: moves 2s infinite alternate-reverse;
    z-index: 1;

}

.whatsapp img {
    width: 50px;
    border-radius: 10px;
    margin-left: 205vh;


}

@keyframes moves {
    0% {
        left: 0px;
        bottom: 0%;
    }

    50% {
        right: 10px;
    }

    100% {
        left: 0px;
        bottom: 0%;
    }
}

.arrow {
    position: fixed;
    animation: move 2s infinite alternate-reverse;
    width: 30px;
    height: 20px;
    z-index: 1;
}

.arrow img {
    width: 100%;

}

@keyframes move {
    0% {
        left: 0px;
        bottom: 0%;
    }

    50% {
        bottom: 50px;
        left: 0px;
    }

    100% {
        left: 0px;
        bottom: 0%;
    }

}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #f4f8f5;
}

.navbar {
    background-color: #013220;
    height: 60px;
}

.logo {
    width: 25%;
    height: 15vh;
    background-color: #013220;
    padding-top: 10px;
}

.intro a {
    text-decoration: none;
    color: black;
}

.intro {
    width: 30%;
    padding-top: 15px;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: space-around;

}

.py-4 {
    width: 100%;
    height: 40vh;
    background-color: #013220;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    color: white;
}

.btn button {
    height: 100%;
    width: 100%;
    padding-bottom: 30px;

}

/* .collapse{
    height: 100%;
    width: 100%;
   justify-content: center;
} */